<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

  <property name="prefix" value=""/>
  <property name="M_PI" value="3.14159265359" />
  <material name="gray" >
    <color rgba="0.5 0.5 0.5 1"/>
  </material>

  <xacro:macro name="default_inertial" params="mass">
    <inertial>
      <mass value="${mass}" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
  </xacro:macro>

  <!-- common stuff -->
  <xacro:include filename="$(find franka_description)/robots/panda.gazebo.xacro" />
  <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/hand.xacro"/>

  <link name="world" />

  <!-- Franka arm and hand -->
  <!-- change hand's parent link to panda_link_7 and change the joint position xyz in hand.xacro -->
  <xacro:panda_arm connected_to="world"/>
  <xacro:hand ns="panda" rpy="0 0 ${-pi/4}" connected_to="panda_link7"/>

  <!-- Disable gravity of gripper -->
  <xacro:panda_gripper_gazebo />


</robot>
