<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

  <property name="prefix" value=""/>
  <property name="M_PI" value="3.14159265359" />
  <material name="gray" >
    <color rgba="0.5 0.5 0.5 1"/>
  </material>

  <xacro:macro name="default_inertial" params="mass">
    <inertial>
      <mass value="${mass}" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
  </xacro:macro>

  <!-- include gazebo -->
  <xacro:include filename="$(find franka_description)/robots/panda.gazebo.xacro" />

  <!-- TODO: include xacro files for franka arm and hand -->

  <!-- TODO: create world link -->

  <!-- TODO: Franka arm -->

  <!-- TODO: Franka hand -->

  <!-- Disable gravity of gripper -->
  <xacro:panda_gripper_gazebo />

</robot>
