<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

  <!-- grasp plugin -->
  <gazebo>
    <plugin name="gazebo_grasp_fix" filename="libgazebo_grasp_fix.so">
      <arm>
        <arm_name>panda_arm</arm_name>
        <palm_link>panda_link7</palm_link>
        <gripper_link>panda_leftfinger</gripper_link>
        <gripper_link>panda_rightfinger</gripper_link>
      </arm>
      <forces_angle_tolerance>100</forces_angle_tolerance>
      <update_rate>4</update_rate>
      <grip_count_threshold>4</grip_count_threshold>
      <max_grip_count>8</max_grip_count>
      <release_tolerance>0.003</release_tolerance>
      <disable_collisions_on_attach>false</disable_collisions_on_attach>
      <contact_topic>__default_topic__</contact_topic>
    </plugin>
  </gazebo>

  <gazebo reference="panda_link1">
    <mu1>2</mu1>
    <mu2>2</mu2>
  </gazebo>
  <gazebo reference="panda_link2">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
  </gazebo>
  <gazebo reference="panda_link3">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
  </gazebo>
  <gazebo reference="panda_link4">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
  </gazebo>
  <gazebo reference="panda_link5">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
  </gazebo>
  <gazebo reference="panda_link6">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
  </gazebo>
  <gazebo reference="panda_link7">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
  </gazebo>

  <!-- Gripper -->
  <xacro:macro name="panda_gripper_gazebo">
    <gazebo reference="panda_hand">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>
    <gazebo reference="panda_leftfinger">
      <kp>1000000.0</kp>
      <kd>1.0</kd>
      <mu1>30.0</mu1>
      <mu2>30.0</mu2>
    </gazebo>
    <gazebo reference="panda_rightfinger">
      <kp>1000000.0</kp>
      <kd>1.0</kd>
      <mu1>30.0</mu1>
      <mu2>30.0</mu2>
    </gazebo>
  </xacro:macro>

</robot>
